/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard {
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  width: 100%;
  height: 100%;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.flipCard {
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
.thefront {
  background: #ffc728;
  color: #000;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback {
  background: blue;
  color: #fff;

  transform: rotateY(180deg);
}

.thefront,
.theback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}
/*This block (ends here) is merely styling for the flip card, and is NOT an essential part of the flip code */
